 .currentWeather div {
    padding-top: 15px;
    padding-bottom:15px
}
.cityList li {
    cursor: pointer;
}

.temperature ,.humidity{
font-size: 13px;
}
.red{
    background-color: red;
}

.yellow{
    background-color: yellow;

}
.green{
    background-color: green;
}